.container {
  display: flex;
  padding: 0 24px;
  width: 1200px;
  margin: 0 auto;
  .left {
    width: 120px;
    display: flex;
    flex-direction: column;
  }

  .right {
    margin-left: 60px;
    flex: 1;
  }
}
