.container {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left,
    .right {
      display: flex;
      align-items: center;
    }
  }

  .content {
    min-height: calc(100vh - 64px - 63px);
  }

  .footer {
    text-align: center;
    border-top: 1px solid #eeeeee;
  }
}
